@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <p>Welcome on MyApp!</p>
</div>

<div class="text-center">
    <a asp-controller="Items" asp-action="Index" class="btn btn-primary">Overview</a>
    <a asp-controller="Items" asp-action="Create" class="btn btn-secondary">Add Item</a>
</div>


<style>
    .banner {
        background-color: cornflowerblue;
        border: 2px solid #0056b3;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: white;
    }
</style>